@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root{
    --default-blue:  #222831;
}


body, html{
   height: 100%;
   margin: 0;
}

.container{
    min-height: 100%;
    background-color: var(--default-blue);
}